<h1>Hello, world!</h1>

<h2>
  <%= @result %>

  <div>Array contents:</div>
  <ol>
    <% @arr.each do |el| %>
      <li><%= handle_symbol(el) %></li>
    <% end %>
  </ol>
</h2>

<br/>
<% if @result == 3 %>
 БЕБЕБЕ
<% else %>
  BBBBEBEBE
<% end %>
