<h1>Total number of pages: <%= @pages_count %></h1>
<% if @page %>
  <h1>Page ID is <%= @page.id %></h1>

  <h3>Title: <%= @page.title %></h3>
  <h4>Text: <%= @page.text %></h4>
  <h4>Number: <%= @page.number %></h4>
  <h4>Font: <%= @page.font %></h4>
<% else %>
  <h1>Page not found</h1>
<% end %>
