<div style="float: right; margin-right: 20px; margin-bottom: 20px;">
  <% if current_user %>
    Logged in as <%= current_user.email %>
    | &nbsp;
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  <% end %>
</div>
