// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.form-element {
  padding-top: 10px;
  font-weight: bold;
}

div.content {
  padding: 20px;
}
