<%= form_for(@page, remote: true) do |f| %>
  <div class="form-group <%= 'has-error' if @page.errors[:title].present? %>">
    <label>Title:</label>
    <%= f.text_field :title, class: 'form-control' %>
    <%= render partial: 'field_error', locals: { field_name: :title } %>
  </div>
  <div class="form-group <%= 'has-error' if @page.errors[:text].present? %>">
    <label>Text:</label>
    <%= f.text_area :text, class: 'form-control' %>
    <%= render partial: 'field_error', locals: { field_name: :text } %>
  </div>
  <div class="form-group <%= 'has-error' if @page.errors[:number].present? %>">
    <label>Number:</label>
    <%= f.text_field :number, class: 'form-control' %>
    <%= render partial: 'field_error', locals: { field_name: :number } %>
  </div>
  <div class="form-group">
    <% if can? :create, @page %>
      <%= f.submit t('webui.pages.new.save'), class: 'btn btn-primary', 'data-disable-with' => 'Saving...' %>
    <% end %>
  </div>
<% end %>
